<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Index</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!-- Header Section -->
    <header class="site-header">
        <h1 id="blog-title">skyblog</h1>
        <p class="blog-description">Skywalker's Blog</p>
    </header>

    <!-- Blog List -->
    <ul class="blog-list">
        {{ range .Blogs }}
        <li class="blog-item">
            <a class="blog-link" href="/{{ .DirectoryName }}">{{ .Title }}</a>
            <span class="blog-meta">by <span class="blog-author">{{ .Author }}</span> on <time class="blog-date">{{ .Date.Format "January 2, 2006" }}</time></span>
        </li>
        {{ end }}
    </ul>
</body>
</html>