<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/assets/favicon.svg" type="image/svg+xml">
    <title>skyblog</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!-- Header Section -->
    <header class="site-header">
        <h1 id="blog-title">skyblog</h1>
    </header>

    <!-- Main content section -->
    <main>
        <div class="blog-desc">
            <nav class="navbar">
                <
                <a href="">Website</a> |
                <a href="">Source Code</a> |
                <a href="">LinkedIn</a>
                >
            </nav>
        </div>
        
        <div class="blog-list">
            {{ if .NoBlogs }}
            <p>No blogs available at the moment. Check back later!</p>
            {{ else }}
            {{ range .Blogs }}
            <div class="blog-item-container">
                <div class="this-side">
                    <a class="blog-link" href="/{{ .DirectoryName }}">{{ .Title }}</a>
                    <div class="blog-meta-container">
                        <span class="blog-author">by {{ .Author }}</span>
                        <span class="blog-date">on <time>{{ .Date.Format "January 2, 2006" }}</time></span>
                    </div>
                </div>
                <div class="that-side">
                    <a href="/{{ .DirectoryName }}" class="button-link">
                        <button class="read-more" type="button">Read more</button>
                    </a>
                </div>                
            </div>
            {{ end }}
            {{ end }}
        </div>
    </main>       

    <!-- Footer Section -->
    <footer class="site-footer">
        <p>&copy; 2024 Mohit Nair. All rights reserved.</p>
        <p>Powered by the Go Gin framework</p>
    </footer>
</body>
</html>